/* Tree Nostalgia Color Scheme */

.tn1-color {
    color: #6af60f;
}

.tn1-bg {
    background-color: #6af606;
}

.tn2-color {
    color: #b5f21e;
}

.tn2-bg {
    background-color: #b5f21e;
}

.tn3-color {
    color: #ead90d;
}

.tn3-bg {
    background-color: #ead90d;
}

.tn4-color {
    color: #f6af0c;
}

.tn4-bg {
    background-color: #f6af0c;
}

.tn5-color {
    color: #673400;
}

.tn5-bg {
    background-color: #673400;
}

.tn6-color {
    color: #dc4808;
}

.tn6-bg {
    background-color: #dc4808;
}